.zoo-top
  .container
    .contain
      %p.header.main-text The Zoo at Yale University
      .zoo-desc.inline-block
        %p 
          The Zoo is 
          %b a physical room 
          in the Computer Science building, Arthur K. Watson Hall, where Computer Science students convene to work and collaborate. In the Zoo there are 36 multiprocessor Intel computers that are 
          %b clustered,
          which means they're interconnected and your files on one are available on every other machine. Each node, or computer—named after a different animal—runs either Linux (openSUSE) or Windows. 

    %table.zoo-main-bar.zoo-bar
      = haml :nav
.panels
  = haml :info
  = haml :availability
  = haml :ssh
  = haml :tips
  = haml :dsac
  = haml :faq
  = haml :footer